.loginform {margin-top: 130px;}
.alert p{margin: 0 !important;} /*campo no meio dos paragrafos nas msg de alerta*/





/*.alert{background: #333333 !important;} /*cor de fundo na caixa de msg de alerta*/
